/* src/pages/Home.css */
.home {
    text-align: center;
    margin-top: 100px;
    background-color: #f4e3c1;
    height: 100vh;
    padding-top: 60px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0d2b3e;
    color: white;
    border: none;
    cursor: pointer;
  }
  