.login-container {
    background-color: #f3eadb;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
  }
  
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-bottom: 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .login-form input {
    margin: 10px;
    padding: 10px;
    width: 250px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #003049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  